:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #269429;
  text-align: center;
  list-style: none;
  background-image: url('/images/green-felt.jpeg');
  background-position: 1% 10%;
}

ul {
  list-style: none;
}

.hit-button,
.stand-button,
.play-again {
  border: none;
  background-color: black;
  color: white;
}

header {
  font-weight: bold;
}
